@CHARSET "UTF-8";
.gnb{
	width: 100%;
	height: 50px;
	border-top : 2px solid #333;
	border-bottom: 2px solid #333;
	margin: 0;
	padding: 0;
}
.gnb ul{
	width: 1100px;
	height: 30px;
	margin: 0 auto;
	padding: 0;
}
.gnb li{
	display: inline-block;/*리스타가 세로 정렬인데 가로 정렬로 바꾸는 명령어  */
	color: black;
	font-size: 11px;
	font-family: "돋움";
	margin: 10px 20px 0 0;
	text-align: left;
	cursor: pointer; /* 커서를 대면 손가락 모양으로 바꾸어라  */
	float: right; 
}