@CHARSET "UTF-8";
@IMPORT url("father.css");
.trClass{
	border: 1px solid black;
	height: 50px"
}
.tdClass{
	border: 1px solid black;
	text-align: center;
	background-color: white;
	color: black;
	width: 150px;
}
.td2Class{
	border: 1px solid black;
	text-align: center;
	background-color:#8000ff;
	color: white;
	width: 150px;
}